:root {
  --text-gray-1: #f8f9fa;
  --text-gray-2: #e9ecef;
  --text-gray-3: #dee2e6;
  --text-gray-4: #ced4da;
  --text-gray-5: #adb5bd;
  --text-gray-6: #6c757d;
  --text-gray-7: #495057;
  --text-gray-8: #343a40;
  --text-gray-9: #212529;
  --text-primary: #0747a6;
  --text-secondary: #ff8b00;
  --text-green: #36b37e;
  --text-cyan: #0dd3ff;
  --text-yellow: #ffb946;
  --text-orange: #ff8b00;
  --text-red: #ff5630;
  --text-blue: #0747a6;
  --text-brown: #b4a996;
  --text-purple: #6554c0;
  --text-white: #fff;
  --text-black: #000;
  --text-dark-opacity-05: rgba(0, 0, 0, 0.05);
  --text-light-opacity-05: rgba(255, 255, 255, 0.05);
  --text-dark-opacity-0: rgba(0, 0, 0, 0);
  --text-light-opacity-0: rgba(255, 255, 255, 0);
  --text-dark-opacity-1: rgba(0, 0, 0, 0.1);
  --text-light-opacity-1: rgba(255, 255, 255, 0.1);
  --text-dark-opacity-2: rgba(0, 0, 0, 0.2);
  --text-light-opacity-2: rgba(255, 255, 255, 0.2);
  --text-dark-opacity-3: rgba(0, 0, 0, 0.3);
  --text-light-opacity-3: rgba(255, 255, 255, 0.3);
  --text-dark-opacity-4: rgba(0, 0, 0, 0.4);
  --text-light-opacity-4: rgba(255, 255, 255, 0.4);
  --text-dark-opacity-5: rgba(0, 0, 0, 0.5);
  --text-light-opacity-5: rgba(255, 255, 255, 0.5);
  --text-dark-opacity-6: rgba(0, 0, 0, 0.6);
  --text-light-opacity-6: rgba(255, 255, 255, 0.6);
  --text-dark-opacity-7: rgba(0, 0, 0, 0.7);
  --text-light-opacity-7: rgba(255, 255, 255, 0.7);
  --text-dark-opacity-8: rgba(0, 0, 0, 0.8);
  --text-light-opacity-8: rgba(255, 255, 255, 0.8);
  --text-dark-opacity-9: rgba(0, 0, 0, 0.9);
  --text-light-opacity-9: rgba(255, 255, 255, 0.9);
  --text-dark-opacity-10: black;
  --text-light-opacity-10: white;
  --text-body-default: #495057;
  --text-heading-default: #212529;
  --pix-body-font: Inter;
  --pix-heading-font: Inter;
}
